.otpr {
	font-size: 15px;
	color: blueviolet;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-style: italic;
	font-weight: 700;
	text-decoration: underline;
}

.otpr2 {
	font-size: 15px;
	color: blueviolet;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-style: italic;
	font-weight: 700;
	text-decoration: underline;
}

p {
	font-size: 15px;
	color: blueviolet;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-style: italic;
	font-weight: 700;
	text-decoration: underline;
}