.p1login {
	color: blueviolet;
}

.p2password {
	color: blueviolet;
}

.p3name {
	color: blueviolet;
}

.p4familiya {
	color: blueviolet;
}

.p5otcjestvo {
	color: blueviolet;
}

.p6color {
	color: blueviolet;
}

.p7photo {
	color: blueviolet;
}

.p8osebe {
	color: blueviolet;
}

.p9zhiv {
	color: blueviolet;
}

.p10nravzhiv {
	color: blueviolet;
}

.p11tel {
	color: blueviolet;
}

.otpr {
	color: blueviolet;
}

.otpr2 {
	color: blueviolet;
}